@model InsuranceProject.Models.Claim
@{
    ViewBag.Title = "FindCliams";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<html>
    <body>
        <div class="User-home-container">
            <h2>Search claims</h2>

            <div class="User-home-content">

                <div class="User-home-left">
                    <div class="User-home-left-row">
                        <h4>
                            Control Panel
                        </h4>
                    </div>
                    <div class="User-home-left-row">
                        @Html.ActionLink("View all clients", "Clients", "Admin")
                    </div>
                    <div class="User-home-left-row">
                        @Html.ActionLink("View all claims", "Claims", "Admin")
                    </div>
                    <div class="User-home-left-row">
                        @Html.ActionLink("View all Mail", "Messages", "Admin")
                    </div>
                </div>

                <div class="User-home-right">
                    <div class="search-container">
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    <Label>Claim Id:</Label> @Html.DisplayFor(model => model.ClaimId)
                                </dt>
                                <dt>
                                    <Label>Nature:</Label> @Html.DisplayFor(model => model.Nature)
                                </dt>
                                <dt>
                                    <Label>Location:</Label> @Html.DisplayFor(model => model.Location)
                                </dt>
                                <dt>
                                    <Label>Date:</Label> @Html.DisplayFor(model => model.Date)
                                </dt>
                                <dt>
                                    <Label>Vehicle Registration Number:</Label> @Html.DisplayFor(model => model.LicensePlate)
                                </dt>
                                <dt>
                                    <Label>First Name:</Label> @Html.DisplayFor(model => model.Client.FirstName)
                                </dt>

                                <dt>
                                    <Label>Last Name:</Label> @Html.DisplayFor(model => model.Client.LastName)
                                </dt>

                                <dt>
                                    <Label>Client ID:</Label> @Html.DisplayFor(model => model.ClientId)
                                </dt>
                            </dl>
                            <p>
                                @Html.ActionLink("Return to all Claims", "Claims", "Admin")
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>