<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - BB Insurance</title>
        @Styles.Render("~/Content/Style.css")
        @Scripts.Render("~/bundles/modernizr")
    </head>

    <body>
        <div class="navbar">
            <div class="home-icon"><img src="~/Images/bb logo.jpg" /><h1>Insurance</h1></div>
            <div class="container-left">
                <ul class="navbar-links">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Services", "Services", "Home")</li>
                </ul>
            </div>
            <div class="container-right">
                <ul class="navbar-links">
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "User")</li>
                </ul>
            </div>
        </div>

        @RenderBody()

    <footer class="footer">
        <hr />
        <h5>©2020 BB Insurance New Zealand</h5>
        <h5><b>TERMS AND CONDITIONS PRIVACY POLICY/YOUR NEW ZEALAND RIGHTS</b></h5>
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Faa.co.nz%2F&width=450&layout=standard&action=like&size=small&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
